<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://java.sun.com/jsf/composite">

<head th:replace="~{fragments/head::head(title='storage.search')}"></head>

<body>
    <header th:replace="~{fragments/header :: header(current='search-storage')}"></header>
    <main>
        <div>
            <form method="get" th:action="@{/storage/search}"
                class="d-flex flex-column justify-content-center align-items-center mb-5">
                <div class="form-outline mb-4 mx-2 mt-5" style="width: 300px;">
                    <label for="searchValue" th:text="#{name}"></label>
                    <input id="searchValue" class="form-control" name="searchValue" th:value="*{searchValue}">
                </div>
                <button class=" btn btn-primary" type="submit" th:text="#{search}"></button>
            </form>
        </div>
        <div th:switch="${storages}">
            <h2 th:case="null" th:text="#{storage.empty}"></h2>
            <table class="table table-striped table-responsive-lg">
                <thead>
                    <tr>
                        <th th:text="#{name}" style="width: 40%;"></th>
                        <th th:text="#{postalcode}" style="width: 20%;"></th>
                        <th th:text="#{space}" style="width: 20%;"></th>
                        <th th:text="#{height}" style="width: 20%;"></th>
                        <th sec:authorize="hasRole('ADMIN')" th:text="#{update}" style="width: 25%;"></th>
                        <th sec:authorize="hasRole('ADMIN')" th:text="#{delete}" style="width: 25%;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="storage:${storages}">
                        <td th:text="${storage.name}"></td>
                        <td th:text="${storage.postalCode}"></td>
                        <td th:text="${storage.space} + ' m²'"></td>
                        <td th:text="${storage.height} + ' m'"></td>
                        <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/storage/update/{id}(id=${storage.getId()})}"
                                class="btn btn-warning" th:text="#{update}"></a></td>
                        <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/storage/delete(id=${storage.getId()})}"
                                class="btn btn-danger" th:text="#{delete}"></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    <div class="d-flex justify-content-center">
        <nav th:if="${storages.totalPages > 0}">
            <ul class="pagination">
                <li th:each="pageNumber : ${#numbers.sequence(0, storages.getTotalPages()-1, 1)}" class="page-item"
                    th:classappend="${pageNumber==storages.number} ? active">
                    <a th:href="@{search(page=${pageNumber})}" th:text="${pageNumber+1}" th:class="page-link"></a>
                </li>
            </ul>
        </nav>
    </div>
</body>

</html>